.class-box{
    display: flex;
    background-color: rgb(99, 212, 250);
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-bottom: 5px;
}

.course-box{
    width: 70%;
    margin-left: 20px;
    margin-right: 5px;
    border-right: 2px solid goldenrod;
}