.course{
    margin-left: 10px;
    margin-right: 200px;
    border: solid red 3px ;
    padding: 5px 10px;
    white-space: normal;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: lightblue;
    color: navy;
}

.btn{
    border: 1px solid darkblue;
    background-color: goldenrod;
    color: darkblue;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    cursor: pointer;
}
